body {
    background-color: #303030;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav-item.active {
    text-decoration: underline;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #6d6d6d;
}

footer > .navbar {
    border-top: 1px solid white;
}