body {
    background-color: #1b1b1b;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav-item.active {
    text-decoration: underline;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #6d6d6d;
}