---
title: Start of a Gallery
layout: art
date: 2017-12-21
images: 
  - business_cat
  - face
  - head
  - lola
  - smoke
  - self_portrait_1
  - karl
  - happy_bathtub
taxonomies:
  tags:
    - drawing
  category:
    - art
---