<footer class="footer-distributed">
  <div class="container">
    <div class="footer-right">
      <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/{{ site.github }}"><i class="fa fa-github-alt"></i></a>
      <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="footer-left">
      <p class="footer-links">
{% assign period = '' %}
{% assign page_list = site.pages | sort: 'order' %}
{% for node in page_list %}
{% if node.menu %}
        {{ period }}
        <a href="{{ site.url }}{{ node.url }}">{{ node.menu | capitalize }}</a>
{% if period == '' %}
{% assign period = '·' %}
{% endif %}
{% endif %}
{% endfor %}
      </p>
      <p>Adam Brykajlo &copy; 2017</p>
    </div>    
  </div>
</footer>