{% assign images = include.images %}

{% if images.size == 1 %}
    {% for im in site.art %}
    {% if images[0] == im.name %}
    {% assign image = im %}
    {% endif %}
    {% endfor %}
    <img class="gallery" src="{{ image.image }}" alt="{{ images[0].alt }}"/>
{% elsif images.size >= 9 %}
    {% assign number = 1 %}
    <div class="gallery-{{ include.id }} make-gallery-grid-3">
    {% for image in site.art %}
    {% if images contains image.name %}
        <div class="item-{{ number }} thumb">
            <a href="{{ image.image }}" >
                <img src="{{ image.thumbnail }}" alt="{{ image.alt }}"/>
            </a>
        </div>
    {% assign number = number | plus: 1 %}
    {% endif %}
    {% endfor %}
    </div>
    <script>
    baguetteBox.run('.gallery-{{ include.id }}');
    </script>
{% elsif images.size >= 4 %}
    {% assign number = 1 %}
    <div class="gallery-{{ include.id }} make-gallery-grid-2">
    {% for image in site.art %}
    {% if images contains image.name %}
        <div class="item-{{ number }} thumb">
            <a href="{{ image.image }}" >
                <img src="{{ image.thumbnail }}" alt="{{ image.alt }}"/>
            </a>
        </div>
    {% assign number = number | plus: 1 %}
    {% endif %}
    {% endfor %}
    </div>
    <script>
    baguetteBox.run('.gallery-{{ include.id }}');
    </script>
{% else %}
    {% assign number = 1 %}
    <div class="gallery-{{ include.id }} make-gallery-grid-1">
    {% for image in site.art %}
    {% if images contains image.name %}
        <div class="item-{{ number }} thumb">
            <a href="{{ image.image }}" >
                <img src="{{ image.thumbnail }}" alt="{{ image.alt }}"/>
            </a>
        </div>
    {% assign number = number | plus: 1 %}
    {% endif %}
    {% endfor %}
    </div>
    <script>
    baguetteBox.run('.gallery-{{ include.id }}');
</script>
{% endif %}