{% macro gallery(names="all", id="") %}

{# Get Images #}
{% set gallery = load_data(path="data/gallery.toml") %}
{% if names == "all" %}
{% set images = gallery.images %}
{% else %}
{% set images = [] %}
{% for image in gallery.images %}
{% if names is containing(image.name) %}
{% set_global images = images | concat(with=image) %}
{% endif %}
{% endfor %}
{% endif %}

{# Create Gallery#}
{% if images | length == 1 %}
<img class="gallery" src="{{ images[0].image }}" alt="{{ images[0].alt }}"/>
{% elif images | length >= 9 %}
{% set size_class = "make-gallery-grid-3" %}
{% elif images | length >= 4 %}
{% set size_class = "make-gallery-grid-2" %}
{% else %}
{% set size_class = "make-gallery-grid-1" %}
{% endif %}

{% if images | length > 1 %}
<div class="gallery-{{ id }} {{ size_class }}">
{% for image in images %}
    <div class="item-{{ loop.index }} thumb">
        <a href="{{ image.image }}" >
            <img src="{{ image.thumbnail }}" alt="{{ image.alt }}"/>
        </a>
    </div>
{% endfor %}
</div>
<script>
    baguetteBox.run('.gallery-{{ id }}');
</script>
{% endif %}
{% endmacro %}
