{% import "macros/art.html" as art %}

{% macro postcard(post, id) %}
<div class="card">
  <div class="card-header">
    <div class="card-subtitle h-100">
      <h3 class="text-center">{{ post.date | date(format="%b %d") }}</h3>
      <h3 class="text-center">{{ post.date | date(format="%Y") }}</h3>
    </div>
    <div class="card-title h-100 align-middle">
      <a href="{{ post.path }}">
        <h3>{{ post.title }}</h3>
      </a>
    </div>  
  </div>
  <div class="card-body">
{% if not post.extra.images %}
    <div class="card-text">
{{ post.content | striptags | truncate(length=400, end="...") | safe }}
    </div>
    <a href="{{ post.path }}" class="card-link btn btn-primary">Read More</a>
{% else %}
    <div class="card-text">
{# art::gallery(id=id, images=post.extra.images) #}
    </div>
    <a href="{{ post.path }}" class="card-link btn btn-primary">Leave A Comment</a>
{% endif %}
  </div>
{% if post.taxonomies.tags and post.taxonomies.tags | length > 0 %}  
  <div class="card-footer">
    tags: {{ post.taxonomies.tags | join(sep=' | ') | safe }}
  </div>
{% endif %}
</div>
{% endmacro postcard %}
