<footer class="footer-distributed">
  <div class="container">
    <div class="footer-right">
      <a href="https://linkedin.com/in/{{ config.extra.linkedin }}"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/{{ config.extra.github }}"><i class="fa fa-github-alt"></i></a>
      <a href="/atom.xml"><i class="fa fa-rss"></i></a>
    </div>
    <div class="footer-left">
      <p class="footer-links">
{% set period = "" %}
{% set menu = load_data(path="data/menu.toml") %}
{% for item in menu.items %}
{{ period }}
<a href="{{ item.path }}">{{ item.name | capitalize }}</a>
{% if period == "" %}
{% set_global period = " | " %}
{% endif %}
{% endfor %}
      </p>
      <p>Adam Brykajlo &copy; 2017</p>
    </div>    
  </div>
</footer>
