:root {
  --md-primary-fg-color: #fbc02d;
  --md-accent-fg-color: #f89c11;
}

.md-header__button.md-logo {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 60%;
  width: 60%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.gallery > * {
  width: 33%;
}

.about {
  display: flex;
  gap: 3em;
}

.about > img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media (max-width: 780px) {
  .about {
    flex-direction: column;
  }

  .about > img {
    order: -1;
  }
}